# GitLab logrotate settings
# based on: http://stackoverflow.com/a/4883967

${GITLAB_ROOT}/log/*.log {
    daily
    missingok
    rotate 90
    compress
    notifempty
    copytruncate
}

${GITLAB_USER_HOME}/gitlab-shell/gitlab-shell.log {
    daily
    missingok
    rotate 90
    compress
    notifempty
    copytruncate
}
